<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="ninjaframework.eclipse.hyperlink.NinjaJavaHyperlinkDetector"
            description="Open Ninja view files"
            id="ninjaframework-eclipse.hyperlinkDetector.NinjaJavaHyperlinkDetector"
            name="Open Ninja view files"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>

</plugin>
